<h1>Passengers</h1>
<ul>
{% for p in passengers %}
    <li>{{p.first}} {{p.last}}</li>
{% empty %}
    <li>No passengers.</li>
{% endfor %}
</ul>

<h2>Add Passenger</h2>
    <form action="{% url 'book' flight.id %}" method="POST">
        {% csrf_token %}
        <select name="passenger" id="passenger">
            {% for passanger in non_passengers  %}
            <option value="{{ passanger.id }}">{{ passanger }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add Passenger">
    </form>

<a href="(% url 'index' %)">Back to flight list</a>
{% endblock %}